<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>無題ドキュメント</title>
</head>

<body>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="../header/header.js"></script>
<link rel="stylesheet" type="text/css" href="myPage.css" />

<div class = "info">
	<img class = "photo" src="icons/default.png"/>
    <div class = "baseInfo">
    	<div>名前:</div>
    	<span><a href="../edit/baseInfo/baseInfo.html"><img class = "edit" src="icons/edit.png" /></a></span>
      	<div>学歴:</div>
        <div>場所:</div>
        <div>自己紹介（一言アピール的な):</div>
    </div>


    <div class = "history">
        <div>職歴:</div>
        <span><a href="../edit/historyInfo/historyInfo.html"><img class = "edit2" src="icons/edit.png" /></a></span>
        <div>学歴:</div>
    </div>
    
    <div class = "skill">
        <div>スキルセット:</div>
        <span><a href="../edit/projectInfo/projectInfo.html"><img class = "edit2" src="icons/edit.png" /></a></span>
        <div>プロジェクト:</div>
    </div>
    
    <div class = "workPlace">
        <div>働きたい場所:</div>
        <span><a href="../edit/desiredWork/desiredWork.html"><img class = "edit2" src="icons/edit.png" /></a></span>
    </div>

</div>

<div>
<script src="../footer/footer.js"></script>
</div>

</body>
</html>