<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>無題ドキュメント</title>
</head>

<body>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="../header/header.js"></script>
<link rel="stylesheet" type="text/css" href="../edit/button.css"/>
<link rel="stylesheet" type="text/css" href="../edit/baseInfo/baseInfo.css">
<link rel="stylesheet" type="text/css" href="signUp.css">

<div class = "signUp">
Sign Up
</div>

<div class = "editArea">
    <div>
    名前<span style="color:RED"> *</span>
    </div>
    <div>
    <input class = "format" placeholder="名前" required/>
    </div>
    
    <div>
    学歴<span style="color:RED"> *</span>
    </div>
    <div>
    <input class = "format" placeholder="学歴"/>
    </div>
    
    <div>
    場所<span style="color:RED"> *</span>
    </div>
    <div>
    <input class = "format" placeholder="場所"/>
    </div>
    
    <div>
    E-mail<span style="color:RED"> *</span>
    </div>
    <div>
    <input class = "format" placeholder="E-mail"/>
    </div>
    
    <div>
    パスワード<span style="color:RED"> *</span>
    </div>
    <div>
    <input class = "format" placeholder="8文字以上"/>
    </div>
    
    <div>
    パスワード（確認）<span style="color:RED">*</span>
    </div>
    <div>
    <input class = "format" placeholder="パスワード（確認）"/>
    </div>
    
    <div>
    自己紹介
    </div>
    <div>
    <textarea cols = "50" rows = "7" placeholder="自己紹介" style="width:45%"></textarea>
    </div>
</div>

<div class = "center">
	<button class = "cancel" type="cancel">Cancel</button>
	<button class = "save" type="save">Sign Up</button>
</div>

<div>
<script src="../footer/footer.js"></script>
</div>

</body>
</html>
