<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>無題ドキュメント</title>
</head>

<body>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="../../header/header.css">
<script src="../../header/header.js"></script>
<link rel="stylesheet" type="text/css" href="../button.css"/>
<link rel="stylesheet" type="text/css" href="desiredWork.css">
<link rel="stylesheet" type="text/css" href="../baseInfo/baseInfo.css">

<div class = "editArea">
    <div>
    働きたい場所
    </div>
    <div>
    <input class = "format" placeholder="働きたい場所" />
    </div>
    
</div>

<div class = "center">
	<button class = "cancel" type="cancel">Cancel</button>
	<button class = "save" type="save">Save</button>
</div>
    
</body>
</html>
