<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> -->

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


<title>無題ドキュメント</title>
</head>

<body>
<script src="../header/header.js" type="javascript"></script>
<link rel="stylesheet" type="text/css" href="../edit/button.css"/>
<link rel="stylesheet" type="text/css" href="../edit/baseInfo/baseInfo.css">
<link rel="stylesheet" type="text/css" href="signIn.css">

<div class = "signIn">
Sign In
</div>

<form class="editArea" method="get" action="http://localhost:4000/signIn">
    <div>
    E-mail<span style="color:RED"> *</span>
    </div>
    <div>
    <input class = "format" placeholder="E-mail"/>
    </div>
    
    <div>
    パスワード<span style="color:RED"> *</span>
    </div>
    <div>
    <input class = "format" placeholder="8文字以上"/>
    </div>


<div class = "center">
	<button class = "cancel" type="cancel">Cancel</button>
	<button class = "save" type="save">Sign Up</button>
</div>
</form>

<div>
<script src="../footer/footer.js" type="application/javascript"></script>
</div>

</body>
</html>
